[Unit]
Description=NodeJS SMTP server emitting received emails to the "emails" exchange
Requires=rabbitmq.service
After=rabbitmq.service

[Service]
ExecStart=/var/dev/simple-smtp/smtp-service.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/dev/simple-smtp

[Install]
WantedBy=multi-user.target