[Unit]
Description=A simple NodeJS SMTP listen server 

[Service]
ExecStart=/var/dev/simple-smtp-listener/service/auto.js
Restart=always
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/dev/simple-smtp-listener

[Install]
WantedBy=multi-user.target